.shopTitle {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}
.products {
  background-color: rgba(222, 246, 242, 0.468);
  background-color: rgba(19, 150, 187, 0.259);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shop h1 {
  font-size: 40px;
}

.product {
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  height: 300px;
  max-height: 450px;
  margin: 50px 30px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product img {
  width: 200px;
  max-height: 180px;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.product-name {
  position: absolute;
  top: 10px;
  left: 30px;
  color: #818181;
}

.addToCartBtn {
  background-color: rgb(8, 81, 102);
  border: 2px solid rgb(19, 19, 19);
  border: none;
  width: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product button {
  text-transform: uppercase;
  color: white;
  font-size: 11px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
